<p> this is your 'CREATE' profile</p>


<div class = "container-createprofile">
<!-- <div class= "card-body-newprofile row justify-content-center"> -->

  <form>
    <div class="form-group row">

<!-- EMAIL -->

      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
<!-- PASSWORD -->
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
</form>
  <!-- First name -->

  <!-- Last name -->

  <!-- CHECKBOX -->
  <div class="form-group row">
    <div class="col-sm-2">Checkbox</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox
        </label>

        <input class="form-check-input" type="checkbox" id="gridCheck2">
        <label class="form-check-label" for="gridCheck2">
          Example checkbox
        </label>

        <input class="form-check-input" type="checkbox" id="gridCheck3">
        <label class="form-check-label" for="gridCheck3">
          Example checkbox
        </label>
      </div>
    </div>
  </div>





<!-- _____________________________ -->
<!-- _____________________________ -->

<!-- Diet:  -->






<button class="btn btn-secondary btn-createprofile">Create Profile</button>




</form>
<!-- Closes form -->
<!-- </div> -->
<!-- ^ Closes card-body -->



</div>
