{{!-- <p> this is your 'CREATE' profile</p> --}}



<header class="masthead text-center text">
    <div class="container" id="createprofile">


      <div class ="card" style="width: 75rem;">
      <div class= "card card-body">

      <form class = "createinput">

<h2> Please input your information below: </h2>
<hr>
<!-- Name -->
<!-- First name -->
<div class="form-row">
  <div class="form-group col-md-12">
    <label for="firstName">First Name: </label>
    <input type="text" class="form-control-cp" placeholder="First name">
  </div>
</div>
<!-- Last name -->
  <div class= "form-row">
  <div class="form-group col-md-12">
    <label for="lastName">Last Name: </label>
    <input type="text" class="form-control-cp" placeholder="Last name">
  </div>
</div>
<!-- Email -->
<div class="form-row">
  <div class="form-group col-lg-12">
    <label for="email">Email: </label>
<input type="text" class="form-control-cp" placeholder="Email">
  </div>
</div>


<!-- Password -->
<div class="form-row">
  <div class="form-group col-lg-12">
    <label for="password">Password: </label>
<input type="text" class="form-control-cp" placeholder="Password">
  </div>
</div>


<!-- diet -->
<h2> Diet: </h2>
<hr>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Vegan</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Vegetarian</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
  <label class="form-check-label" for="inlineCheckbox3">Pescetarian</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
  <label class="form-check-label" for="inlineCheckbox3">None</label>
</div>


</div>
<!-- diet div close -->













<!-- Button to creat new profile -->
 <button type="btn-createprofile" class="btn btn-secondary"> Create Profile </button>

      </form>



</div>
<!-- closes card body -->

</div>
<!-- closes card -->
</div>
<!-- closes container -->



</header>
