<p> this is your 'CREATE' profile</p>

<div class = "container-createprofile">

  <!-- First name -->

  <!-- Last name -->


<!-- Email -->
<form class="needs-validation form-login">
  <div class="form-row">
    <div class="col-md-6 mb-2">
      <label for="validationCustom01">Email:</label>
      <input type="text" class="form-control" id="email" placeholder="Email" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <!-- //row -->

  <!-- Password -->
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom02">Password:</label>
      <input type="text" class="form-control" id="password" placeholder="Password" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <!-- // row -->







<!-- _____________________________ -->
<!-- _____________________________ -->

<!-- Diet:  -->
<p>DIET:</p>

<div class="input-group mb-2">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>



<button class="btn btn-secondary btn-login">Log in</button>




</form>
<!-- Closes form -->




</div>
<!-- ^ Div closes container -->


<!-- JS For validation on email/pw -->
<!-- <script>
$(".btn-login").on("click", function(event) {
  // Make sure to preventDefault on a submit event.
  event.preventDefault();

  var newLogin = {
    email: $("#email").val().trim(),
    password: $("#password").val().trim()
  };

  // Send the POST request.
  $.ajax("/login", {
    type: "POST",
    data: newLogin
  }).then(
    function() {
      console.log("New login");
      // Reload the page to get the updated list
    //   location.reload();
    }
  );
});

});

</script> -->
