{{!-- This is the event page, where the user can create an event.
  Listing the time, location, friends, event name and using the API Key to generate random
  recipes onto the page. Etc. --}}
 {{!--Every Page will have this - this is index --}} 
 
<body id="event-background">

  <div class="card" id="event" style="background-color: rgba(248, 146, 87, 0.555);">
    
    <div class="card-body" style="background-color: rgba(201, 144, 107, 0.555);">
        {{!-- event info --}}
        <h4 class="row">Event Information</h4>
          <form class="form-inline row ml-2 mr-2">
            <input type="text" class="col-sm-1 form-control col-sm-3 my-2" placeholder="event name"></input>

            <label class="col-sm-1" for="end-time">end time: </label>
            <input class="col-sm-1.5 form-control" id="endtime" type="time" name="appt-time" value="00:00">

            <label class="col-sm-1" for="start-time">start time: </label>
            <input class="col-sm-1.5 form-control" id="starttime" type="time" name="appt-time" value="00:00">

            <label class="col-sm-1" for="date">date: </label>
            <input class="col-sm form-control" id="date" type="date" name="date" value="">
          </form>
          <br>
          {{!-- name, street, number, zipcode, city,  --}}
          <form class="ml-2">
            <div class="form-row">
              <div class="col-2">
                <input type="text" class="form-control" placeholder="Number">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Street">
              </div>
            </div>
          </form>
          <br>
          <form class="ml-2">
            <div class="form-row">
              <div class="col-7">
                <input type="text" class="form-control" placeholder="City">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Zip">
              </div>
            </div>
          </form>
  </div>
  <h4 class="row ml-2">Who Is Going?</h4>
        <div class = "row ml-5 mr-5" >
        {{!-- Who will be going? --}}
         
          <div class="col-4">{{> user/user-block}}</div> 
          <div class="col-4">{{> user/user-block}}</div>
          <div class="col-4">{{> user/user-block}}</div>
        </div>

    <div class="card-body" style="background-color: rgba(201, 144, 107, 0.555);">
            <h4 class="row">Will there be food?</h4>
    {{!-- form for displaying event restrictions --}}
      <div class="row ml-5 mr-5">
        {{!-- Who will be going? --}}
      
        <div class="col-4">{{> food/food-block}}</div>
        <div class="col-4">{{> food/food-block}}</div>
        <div class="col-4">{{> food/food-block}}</div>
      </div>
    </div>
    <br>
    
    <a href="/createevent" id="event-submit" type="submit-button" class="btn btn-secondary">Create Event</a>
    <br>


</div>



    {{!-- form for user to type in their dish --}}





        

</body>
