{{!-- This is the event page, where the user can create an event.
  Listing the time, location, friends, event name and using the API Key to generate random
  recipes onto the page. Etc. --}}
 {{!--Every Page will have this - this is index --}} 
 
<body id="event-background">

  <div class="card" id="event" style="background-color: rgb(235, 235, 235, .5);">
    
    <div class="card-body">
        {{!-- event info --}}
        <h4 class="row ml-2">Event Information</h4>
          <form class="form-inline row ml-2 mr-2">
            <input id="name" type="text" class="col-sm-1 form-control col-sm-3 my-2" placeholder="event name" required></input>

            <label class="col-sm-1" for="start-time">start time: </label>
            <input class="col-sm-1.5 form-control" id="starttime" type="time" name="appt-time" placeholder="00:00" required>

            <label class="col-sm-1" for="end-time">end time: </label>
            <input class="col-sm-1.5 form-control" id="endtime" type="time" name="appt-time" placeholder="00:00" required>

            <label class="col-sm-1" for="date">date: </label>
            <input class="col-sm form-control" id="date" type="date" name="date" value="" required>
          </form>
          <br>
          {{!-- name, street, number, zipcode, city,  --}}
          <form class="ml-2">
            <div class="form-row">
              <div class="col-2">
                <input type="text" id="number" class="form-control" placeholder="Leave 0 if there is no number">
              </div>
              <div class="col">
                <input type="text" id="street" class="form-control" placeholder="Street" required>
              </div>
            </div>
          </form>
          <br>
          <form class="ml-2">
            <div class="form-row">
              <div class="col-7">
                <input type="text" id="city" class="form-control" placeholder="City" required>
              </div>
              <div class="col">
                <input type="text" id="zipcode" class="form-control" placeholder="zipcode" required>
              </div>
            </div>
          </form>
  </div>

    <br>
    
    <a id="event-submit" type="submit-button" class="btn btn-secondary ml-4">Create Event</a>
    <br>


</div>



    {{!-- form for user to type in their dish --}}





        

<script src="/assets/js/occasion.js"></script>
<div class="modal fade" id="modal-success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Error</h5>
      </div>
      <div class="modal-body text-center">
          <p>Event created with success. Go check it out!</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-secondary see-event">View your event</a>
      </div>
    </div>
  </div>
</div>
</body>
