{{!-- This is the event page, where the user can create an event.
  Listing the time, location, friends, event name and using the API Key to generate random
  recipes onto the page. Etc. --}}
 {{!--Every Page will have this - this is index --}} 
 
 {{> nav/nav-block}}

<div class="card">
  {{!-- Are you going? --}} 
  {{!-- Who will be going? --}}
</div>

<div class="card">
{{!-- form for displaying event restrictions --}}
</div>

<div class="card">
  {{!-- form for user to type in their dish --}}
</div>



{{> footer/footer-block}}