
<!-- <span> -->



<!-- Paralax -->
<div class="parallax text-center">

  <span class="typer" id="main" data-words="Welcome to Satiable Soirée, Please scroll down to begin." data-colors="white" data-delay="100" data-deleteDelay="1000"></span>
  <span class="cursor" data-owner="main"></span>

  </div>

  <div id="body" class="picnic">



<div class="container">
       <!-- End of "page 1" -->
       <section id="about">
           <div class="card my-4">
               <div class="card-body row justify-content-center">
                   <div class="col-lg-6">
                       <img src="https://source.unsplash.com/500x500/?food" class="img-fluid">
                   </div>
                   <div class="col-lg-6">
                       <h1>About Us:</h1>
                       <p>Welcome to Satiable Soirée! We're so excited
                          to announce that it can now be easier than ever
                          to plan food outings with your friends.
                          Simply create an online account and start
                          creating your events or attending others in your area!
                        </p>
                        <br>
                        <br>
                        <!-- Button -->
                    <a href="/createprofile/" class="btn btn-success btn-xl rounded-pill mt-5 started">Get Started!</a>

                   </div>
               </div>
           </div>
       </section>


</div>
</div>





<!-- Script tag to connect to the typer functionality - MUST STAY ON BOTTOM OF HTML -->
  <script src="/assets/js/index.js">
  </script>
