
<!-- <span> -->



<!-- Paralax -->
<div class="parallax text-center">

  <span class="typer" id="main" data-words="Welcome to Satiable Soirée, Please scroll down to begin." data-colors="white" data-delay="100" data-deleteDelay="1000"></span>
  <span class="cursor" data-owner="main"></span>

  </div>
  <!-- closes paralax -->

  <div id="body" class="picnic">



<div class="container about">
       <section id="about">
           <div class="card my-4">
               <div class="card-body row justify-content-center">
                   <div class="col-lg-6">

                       <img src="https://images.unsplash.com/photo-1479803244419-b24dfe9cbafa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e1df5147938c7d50cf6e5caea06a6098&auto=format&fit=crop&w=1500&q=80" class="img-fluid">
                   </div>
                   <div class="col-lg-6">
                       <h1>About Us:</h1>
                       <hr>
                       <h3 class = "satiable-aboutme">
                         <p>Satiable: (to satisfy to the fullest),</p>
                        <p>Soirée: (a social gathering) </p>
                       </h3>
                       <p>
                         Welcome to Satiable Soirée! We're so excited
                          to announce that it can now be easier than ever
                          to plan food outings with your friends.
                          Simply create an online account and start
                          creating your events or attending others in your area!
                        </p>
                        <!-- Button -->
                    <a href="/createprofile/" id = "getstarted-homebtn"class="btn btn-success btn-xl rounded-pill mt-5 started">Get Started!</a>


                   </div>
               </div>
           </div>
       </section>
</div>

<div class="container reviews">
       <section id="reviews">
           <div class="card my-4">
               <div id= "reviews" class="card-body row justify-content-center">
                       <!-- <img src="" class="img-fluid"> -->
                   </div>
                   <div class="col-lg-12">
                       <h1>Reviews from our users:</h1>
                       <hr>
                       <p>
                        <i> Average rating: ⭐⭐⭐⭐⭐</i>
                      </p>
                   </div>
                   <!-- closes row, column -->
                       <div class="col-lg-12">
                        <div id= "written-reviews">
                        <p>Wow! I'm so happy to say I can FINALLY organize picnics every Sunday in my favorite park without having to deal with the headaches that come alot with group texts & confusion of who's going to bring what! Thanks for the help - definitely something I recommend to my friends.
                          <br>
                          <i>  - Bonnie (32, San Francisco)</i>
                        </p>
                    </div>
                    <!-- closes row, column -->
                        <div class="col-lg-12">
                          <p>
                            Me? Getting my friends together for a backyard BBQ in an organized fashion?? Never thought it could be possible! Currently planning my third summer barbeque using Satiable Soirée's platform. Thanks!
                            <br>
                            <i>  - Peter (55, Los Angeles)</i>
                          </p>
                      </div>
                      <!-- closes row and column -->
                      </div>
                      <!-- closes id written-reviews -->


                      </div>
                   </div>
               </div>
             </section>
            <!-- closes reviews -->




</div>
<!-- Closes container -->





<!-- Script tag to connect to the typer functionality - MUST STAY ON BOTTOM OF HTML -->
  <script src="/assets/js/index.js">
  </script>
