<!-- <p>Log-in, welcome back!</p> -->
<div class= "login">
<div class="card-body-login row justify-content-center">
<div class= "container-login fluid center">

<h1> Welcome back! Please log-in. </h1>

<form class="needs-validation form-login">
  <div class="form-row">
    <div class="col-md-6 mb-2">
      <label for="validationCustom01">Email:</label>
      <input type="text" class="form-control" id="email" placeholder="Email" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <!-- //row -->
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom02">Password:</label>
      <input type="text" class="form-control" id="password" placeholder="Password" value="" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <!-- // row -->


  <button class="btn btn-secondary btn-login">Log in</button>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Error</h5>
        </div>
        <div class="modal-body text-center">
            <p>Your e-mail/password don't match! Please check your info and try again.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ^ closes container -->

</div>
<!-- ^ closes card -->

</div>
<!-- ^ closes div login -->

<script src="/assets/js/login.js"></script>
