<!-- <p> This is the users navigation page, where the user can navigate to and from the home,
  to create an event after logging in/creating a profile.</p> -->

<div class = "container-usernav">

<h1> What would you like to do today? </h1>

<div class="card text-center">
  <div class="card-header">
  Would you like to create an event?
  </div>
  <div class="card-body">
    <h5 class="card-title">Create an event</h5>
    <p class="card-text">with your friends in your area, Get started here!</p>
    <a href="#" class="btn btn-secondary">Create Event</a>
  </div>
  <!-- <div class="card-footer text-muted">
    2 days ago
  </div> -->
</div>
<script src="/assets/js/usernav.js"></script>
</div>
<div class="container">
  <div class="row">
    {{#each occasions }}
    <div class="col">
      {{title}}
    </div>
    {{/each}}
  </div>
</div>















</div>
