{{!--
<h1>Users!</h1>

<h2>All Users Info</h2>
<a href="/users/pets">See Users and Their Pets</a>

  {{#each users}}

	<div>
	<h2>{{userName}}</h2>
    <p>{{address}}</p>
    <p>{{phone}}</p>
	</div>
	<hr>
  {{/each}} --}}
<!-- Footer -->

<footer class="footer text-center p-0">
  <!-- <div class=“container”> -->
    <span class="text-muted">Copyright &copy; Satiable Soiree 2018</span>
  <!-- </div> -->
</footer>
