/* index */

.started {
  margin-bottom: 30px;
  background-color: brown;
  border-color: crimson;
  padding: .99rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#index-card{
/* opacity: 0.33; */
}

.parallax {
    /* The image used */
    background-image: url("../img/ben-duchac-66002-unsplash.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* background */

#body {
  background: url("../img/ben-duchac-66002-unsplash.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.picnic {
  padding: 5%;
  min-height: 800px;
  height: auto;
}

/* footer */

.footer {
  position: fixed;
  width: 100%;
  bottom: 0%;
  background-color: rgb(196, 196, 196);
  text-align: center;
  font-size: 10px;
}

/* LOGIN.handlebars CSS */
/* __________________________________ */

.login {
margin-top: 60px;
width: 60%;
margin-left: auto;
margin-right: auto;
}

#card-login{
  background-color: white;
  margin-top: 80px;
  height: 50%;
}
.card-body-login {
  margin-top: 50px;
}

#login-background{
  background: url("http://i65.tinypic.com/fav8xx.jpg");
  background-size:cover;

}

/* button login */
#login-btn {
  margin-bottom: 40px;
}

/* __________________________________________ */
/* CREATE PROFILE CSS */

.card card-body {
  margin-top: 100px;
  padding-top: 140px;
}

.form-control-cp {
  width: 20%;
}

.createinput {
  margin-left: 20px;
  margin-top: 60px;
}


#createprofile{
  padding-bottom: 100px;
}


/* _____________________________________________ */
/* EVENT Page */

#event-background {
    background: url("../img/liana-mikah-393893-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#event {
  margin: 5%;
}

#event-submit {
  height: 60px;
  background-color: rgb(121, 118, 118);
  border-color:rgb(235, 235, 235);
  padding: .99rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
