/* footer */

.footer {
  margin-top: 1%;
  background-color: rgb(196, 196, 196);
  text-align: center;
  font-size: 10px;
  height: 60px;
  padding: 25px;
}




/* LOGIN.handlebars CSS */

.login {
margin-top: 60px;
}

.card-body-login {
  margin-top: 50px;
  background-color: blue;
}
